
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.card{
    width:30%;
    background-color: black;
    padding: 1rem;
    box-shadow: 0 0 3px 4px green;

}
h1{
    text-align: center;
    color: white;
    margin: 0 0 1.5rem;
    text-decoration: underline;
}
img{
    width: 50%;
    margin:0 auto;
    display: block;
    animation: rotating 4s linear infinite;
}
@keyframes rotating {
    0%{
       transform: rotate(0deg); 
    }
    100%{
        transform: rotate(360deg);
    }
}